#nav{
    display: block;
    background-color: gray;
    font-size: 32px;
}
div{
    position: relative;
    top: 0;
    right:0;
}
#link{
    float: right;
}
h1{
    width: 25%;
    margin: 0;
}
.navlinks{
   display: inline-block;
}